streamlit==1.33.0
pandas==1.5.3
numpy==1.23.5
plotly==5.18.0
pymysql
streamlit-tags
Pillow
yt-dlp
nltk
pdfminer3
pyresparser==1.0.6
spacy==2.3.9
setuptools==65.5.0
wheel==0.38.4
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-2.3.1/en_core_web_sm-2.3.1.tar.gz