streamlit==1.33.0
pandas
plotly
pymysql
streamlit-tags
Pillow
yt-dlp
nltk
pdfminer3
pyresparser==1.0.6

numpy==1.23.5
spacy==2.3.9
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-2.3.1/en_core_web_sm-2.3.1.tar.gz